<div class="container ">
    <h2 class="text-center">departments</h2>
    <table class="table table-hover table-striped text-center">
        <thead>
            <tr class="bg-primary">
                <th>Id</th>
                <th>Name</th>
                <th>Num. of students</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @for (dept of departments; track $index) {
                <tr (click)="Details(dept.id)">
                    <td>{{dept.id}}</td>
                    <td>{{dept.name}}</td>
                    <td>{{dept.numberOfStudents}}</td>
                    <td (click)="$event.stopPropagation()">
                        <button routerLink="/departments/edit/{{dept.id}}" (click)="BindData(dept)" type="button" class="btn btn-warning mx-3 ">Edit</button>
                        <button (click)="delete(dept)" type="button" class="btn btn-danger ">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr>
<div class="container ">
    <button routerLink="/departments/add" class="btn w-100 m-auto btn-outline-primary ">
        Add
    </button>
</div>
@if(detailsId != -1){
    <app-details [deptId]="detailsId"></app-details>
}